<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Youtube downloader</title>
   <link rel="stylesheet" href="/static/css/style.css">
  </head>
  <body>
    <section>
      <header>
        <h1>YouTube video downlaoder</h1>
        <img src="/static/assets/video img.jpg" alt="">
      </header>

      <main>

        <div class="container">
          <h3>Download YouTube videos here for free</h3>
        </div>



        <form action="/" method="post">
          <div class="input">
            <label for="url">YouTube link:</label>
            <input type="url" name="url" id="link" placeholder="Paste YouTube video url" required/>
          </div>
          <div class="btn-container">
            <input type="submit" value="Download" class="btn" id="btn" />
            <!-- <button type="submit">Download</button> -->
          </div>
        </form>
      </main>
    </section>
  </body>
  <script>
    const link = document.querySelector('#link')
    const link2 = document.getElementById('link')
    console.log(link.value)
    console.log(link2);
    const btn = document.querySelector('#btn')
    btn.addEventListener('click', ()=>{
        console.log('clicked',link.value)
        // link.value = ''
    })
  </script>
</html>
